.app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6fr 1fr;

  height: 99dvh;
  width: 100dvw;
  align-items: center;
  justify-items: center;

  gap: .3rem;
}

.container {
  height: 99%;
  width: 99%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
}

.tool-container {
  height: 99%;
  width: 99%;
}

.content-container {
    height: 100%;
    width: 100%;

  display: flex;
  flex-direction:  column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.widget-container {
  flex-grow: 1;
  margin: 5%;
}

.logo-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-header-container img {
  max-width: 120px;
}

.border-red {
  border: 3px solid #ff0000;
}
.border-green {
  border: 3px solid #00ff00;
}
.border-yellow {
  border: 3px solid #ffee00;
}
.border-blue {
  border: 3px solid #0000ff;
}
